<h2>Editing "<%= @author.title %>"</h2>

<% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

<%= form_tag authors_path(@author), method: "patch" do %>
  <div class="field">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name" %>
  </div>

  <div class="field">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email" %>
  </div>

  <div class="field">
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag "phone_number" %>
  </div>

  <%= submit_tag "Edit" %>
<% end %>
